<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12">
            <img src="assets/logos/home_mockup.jpg" class="w-100 h-100 fit" />
        </div>
        <div class="col-lg-6 col-md-12  col-sm-12 big-font">
            <div class="card">
                <h1 class="p-2 header-comp mx-auto">Pestagram</h1>
                <div class="card-body">
                    <p class="card-text">Petstagram es una red social animal con el objetivo de compartir post con
                        vuestros animales y al mismo tiempo colaborar
                        con protectoras y santuarios para facilitar la adopción de los animalitos.</p>
                    <p> Aquí podrás encontrar
                        gente con la que compartir las vivencias con tus animales y ayudar a que todos encuentren un

                        hogar.</p>
                        <p>¡Disfruta compartiendo los mejores momentos de tus mascotas!</p>
                       
                </div>
            </div>
        </div>

    </div>
</div>