.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.big {
    width: 65%;
}

.little {
    width: 35%;
}

@media (max-width: 576px) {
    .big {
        width: 100%;
    }
    .little {
        width: 100%;
    }
}

.centrado{
    margin: 0 auto;
}