<div class="flex p-2">

    <div class="p-3 little">
        <h2 class="mb-5 header-comp">Mensajeria Privada</h2>

        <a class="nav-link" routerLink="/mensajes/enviados/1" routerLinkActive="active"><i class="fas fa-envelope-square mr-1"></i>Enviados
        </a> <a class="nav-link" routerLink="/mensajes/recibidos/1" routerLinkActive="active">
            <i class="fas fa-envelope-open-text mr-1"></i>Recibidos
        </a> <a class="nav-link" routerLink="/mensajes/enviar" routerLinkActive="active"><i
                class="fas fa-plus-circle mr-1"></i>Enviar
        </a>

    </div>
    <div class="p-3 big flex-wrap">
        <router-outlet></router-outlet>
    </div>

</div>