<div class="container mt-5">
    <div class="centrado mt-3 mb-1">
        <h1 class="header-comp">Seguidores de {{user.name+ ' '+ user.surname}} </h1>
        <hr class="hr-basic">
    </div>
    <div class="row" *ngIf="followed">
        <div *ngFor="let follow of followed" class="col-lg-4 col-sm-6">
            <div class="card hovercard">
                <div class="cardheader">

                </div>
                <div class="avatar">
                    <img src="{{url+'get-image-user/'+follow.user.image}}" *ngIf="follow.user.image" class="fit" />
                    <img src="assets/logos/avatar.png" *ngIf="!follow.user.image" class="fit" />
                </div>
                <div class="info">
                    <div class="title">
                        <a [routerLink]="['/profile',follow.user._id]"
                            routerLinkActive="router-link-active">{{follow.user.nick}}</a>
                    </div>
                    <div class="desc"><i class="fa fa-user mr-1 mt-2"></i>{{follow.user.name + ' '+follow.user.surname}}
                    </div>
                </div>
                <div class="bottom">
                    <button class="btn btn-primary btn-block" *ngIf="follows.indexOf(follow.user._id) < 0"
                        rel="publisher" href="#" (click)="followUser(follow.user._id)">
                        Seguir
                    </button>

                    <button class="btn btn-success btn-block " rel="publisher"
                        *ngIf="follows.indexOf(follow.user._id) >= 0" (click)="unfollowUser(follow.user._id)"
                        (mouseenter)="mouseEnter(follow.user._id)" (mouseleave)="mouseLeave(follow.user._id)"
                        [class.btn-danger]="follow.user._id == followUserOver" href="#">

                        <span *ngIf="follow.user._id == followUserOver; else following">Dejar de Seguir</span>
                        <ng-template #following>
                            <span>Siguiendo</span>
                        </ng-template>
                    </button>

                </div>

            </div>

        </div>
        <div class="pos-btn mb-5">
            <button *ngIf="page > 1" class="btn btn-secondary btn-sm mr-2"><a
                    [routerLink]="['/seguidores', userPageId,pre_page]">Anterior</a></button>
            <button *ngIf="pages != page" class="btn btn-secondary btn-sm "> <a
                    [routerLink]="['/seguidores',userPageId,next_page]">Siguiente</a></button>
        </div>
    </div>

</div>
<div *ngIf="!followed"><h4 class="centrado">No te sigue nadie</h4></div>
