<div class="signup-form">

    <div class="alert alert-success" *ngIf="status == 'success'">
        Actualizdo correctamente. <a [routerLink]="['/login']"
            routerLinkActive="router-link-active">Identificate aquí</a>
    </div>

    <div class="alert alert-danger" *ngIf="status== 'error'">
        No se ha podido actualizar.
    </div>
    <form #EdituserForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
        <h2 class="header-comp mb-4">Actualizar mis datos</h2>
        <div class="form-group">
            <div class="input-group">
                <input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" class="form-control" required
                    placeholder="Nombre de usuario" />

            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <input type="text" name="surname" #surname="ngModel" [(ngModel)]="user.surname" class="form-control"
                    required placeholder="Apellidos" />
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <input type="text" name="nick" #nick="ngModel" [(ngModel)]="user.nick" class="form-control" required
                    placeholder="Nick del usuario" />
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" required
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" placeholder="Correo Electrónico" />
            </div>
        </div>
        <div class="form-group" *ngIf="user.image">
              <img src="{{ url + 'get-image-user/' +user.image }}" class=" img-avatar"/>
        </div>
        <div class="form-group">
            <div class="input-group">
                <input type="file" placeholder="Subir imágen" (change)="fileChangeEvent($event)" />
            </div>
        </div>
       
        <div class="form-group">
            <input type="submit" value="Actualizar mis datos" class="btn btn-primary btn-block btn-lg"
                [disabled]="!EdituserForm.form.valid" />
        </div>
    </form>
</div>
